body {
	background-color: #F5DA55;

	header {
		background-color: #77878B;
		padding: 1rem 0;

		h1 {
			color: #f0f8ff;
			border: 0;
			padding-left: 1rem;

			span {
				color: #F5DA55;
			}
		}
	}
}
